@font-face {
    font-family: "Ubuntu";
    src: url(./Ubuntu-Bold.woff);
    font-weight: 700;
}

@font-face {
    font-family: "Ubuntu";
    src: url(./Ubuntu-Bold.woff2);
    font-weight: 700;
}

@font-face {
    font-family: "Ubuntu";
    src: url(./Ubuntu-Regular.woff);
    font-weight: 400;
}

@font-face {
    font-family: "Ubuntu";
    src: url(./Ubuntu-Regular.woff2);
    font-weight: 400;
}